# Zulip Cloud Uploader Configuration Template
# Copy this file to your FTC Control Hub at '/sdcard/FIRST/zulip.properties'
# You can upload it via the FTC Dashboard file manager or using adb:
# adb push zulip.properties /sdcard/FIRST/

orgUrl=https://aresfirst.zulipchat.com
botEmail=robot-uploader-bot-bot@aresfirst.zulipchat.com
botApiKey=0Kz9kmNekObe5fNT1WgwhqFY7AE543oA

# Optional settings
targetStream=robot-telemetry
targetTopic=Practice Logs
